@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

:root {
  /* tokens */
  /* font-family */
  --font-body: "Raleway", sans-serif;
  --font-headings: "Montserrat", sans-serif;

  /* palette */
  --black-fade-5: rgba(0, 0, 0, 0.05);
  --black-fade-40: rgba(0, 0, 0, 0.4);
  --grey-90: #232129;
  --grey-50: #78757a;
  --green-80: #088413;
  --green-50-rgb: 55, 182, 53;
  --black: #1c1d1c;
  --grey-extra-dark: #464646;
  --grey-dark: #ccc6bd;
  --grey: #e6dfd5;
  --grey-light: #f7f6f4;
  --white: #ffffff;
  --yellow: #f3cd46;
  --blue: #0e3244;

  /* radii */
  --radius-sm: 4px;
  --radius-md: 8px;
  --radius-rounded: 999px;

  /* spacing */
  --space-sm: 4px;
  --space-md: 8px;
  --space-lg: 16px;
  --space-xl: 10px;
  --space-2xl: 20px;
  --space-3xl: 30px;
  --space-5xl: 50px;
  --space-5: 5px;
  --space-10: 10px;
  --space-20: 20px;
  --space-30: 30px;
  --space-40: 40px;
  --space-50: 50px;
  --space-60: 60px;
  --space-70: 70px;
  --space-80: 80px;
  --space-90: 90px;
  --space-100: 100px;

  /* line-height */
  --solid: 1;
  --dense: 1.25;
  --default: 1.5;
  --loose: 2;

  /* letter-spacing */
  --tracked: 0.075em;
  --tight: -0.015em;

  /* font-weight */
  --body: 400;
  --light: 300;
  --medium: 500;
  --semibold: 600;
  --bold: 700;
  --extrabold: 1000;

  /* font-size */
  --text-xs: 12px;
  --text-sm: 14px;
  --text-md: 16px;
  --text-lg: 18px;
  --text-xl: 20px;
  --text-30: 30px;
  --text-40: 40px;
  --text-50: 50px;
  --text-100: 100px;

  /* role-based tokens */

  /* colors */
  --primary: var(--green-80);
  --background: var(--white);
  --background-black: var(--black);
  --border: var(--black-fade-5);

  /* transitions */
  --transition: box-shadow 0.125s ease-in;

  /* shadows */
  --shadow: 0 4px 12px rgba(var(--green-50-rgb), 0.5);

  /* text */
  /* color */
  --text-color: var(--grey-90);
  --text-color-secondary: var(--grey-dark);
  --text-color-inverted: var(--white);
  /* size */
  --text-display: var(--text-2xl);
  --text-prose: var(--text-md);

  /* input */
  --input-background: var(--black-fade-5);
  --input-background-hover: var(--black-fade-5);
  --input-border: var(--black-fade-5);
  --input-text: var(--text-color);
  --input-text-disabled: var(--black-fade-40);
  --input-ui: var(--text-color-secondary);
  --input-ui-active: (--text-color);

  /* size */
  --size-input: var(--space-3xl);
  --size-gap: 12px;
  --size-gutter-raw: var(--space-2xl);
  --size-gutter: calc(var(--size-gutter-raw) - 12px);

  /* product */
  --product-grid: 1fr;
}

/* role-based token adjustments per breakpoint */
@media (min-width: 640px) {
  :root {
    --product-grid: 1fr 1fr;
  }
}

@media (min-width: 1024px) {
  :root {
    --text-display: var(--text-3xl);
    --text-prose: var(--text-lg);
    --product-grid: repeat(3, 1fr);
    --size-gutter-raw: var(--space-3xl);
    --size-gap: var(--space-2xl);
  }
}

@media (min-width: 1280px) {
  :root {
    --product-grid: repeat(4, 1fr);
  }
}
