footer {
  background: var(--grey-extra-dark);
  color: var(--white);
  padding: var(--space-100) 0 var(--space-100) 0;
}

footer h6 {
  color: var(--grey-light);
}

footer ul {
  padding: 0;
  margin: 0;
}

footer ul li {
  padding: var(--space-5) 0;
  margin: 0;
  list-style-type: none;
}

footer ul li a {
  color: var(--grey);
}

footer ul li a:hover {
  color: var(--white);
}

footer ul.icons li {
  float: left;
  padding-right: var(--space-10);
}
