.container_header {
  align-items: center;
  position: sticky;
  z-index: 1;
  top: 0;
  background: #4d4d4d;
  padding: 20px 0;
}

.container_header ul {
  list-style-type: none;
}

.container_header ul li {
  float: left;
}

.nav_link_icon li {
  display: block;
  padding: 0.5rem;
}

.nav_link_icon li:last-child {
  display: block;
  padding: 0.5rem 0 0.5rem 0.5rem;
}

.nav_link_icon li svg:hover,
.nav_link_icon li svg:focus {
  filter: brightness(0) invert(1);
}

.nav_link li {
  font-family: var(--font-body);
  font-weight: var(--light);
  color: var(--grey);
  font-size: var(--text-lg);
  padding: 0 2.5rem 0 2.5rem;
}

.nav_link li:last-child {
  padding: 0 0 0 2.5rem;
}

.nav_link a:hover {
  font-family: var(--font-body);
  font-weight: var(--light);
  color: var(--white);
}
