.container_header {
  align-items: center;
  position: sticky;
  z-index: 10000;
  top: 0;
  background: var(--black);
  padding: 10px 0;
}

.container_header ul {
  list-style-type: none;
}

.container_header ul li {
  float: left;
}

.nav_link_icon li {
  display: block;
  padding: 0.5rem;
}

.nav_link_icon li:last-child {
  display: block;
  padding: 0.5rem 0 0.5rem 0.5rem;
}

.nav_link_icon li svg:hover,
.nav_link_icon li svg:focus {
  filter: brightness(0) invert(1);
}

.nav_link li a {
  font-family: var(--font-body);
  font-weight: var(--medium);
  color: var(--grey-medium);
  font-size: var(--text-lg);
  padding: 0 5rem 0 5rem;
}

.nav_link li a:last-child {
  padding: 0 0 0 5rem;
}

.nav_link a:hover {
  font-family: var(--font-body);
  font-weight: var(--medium);
  color: var(--white);
}

.nav_link_mobile li {
  float: none !important;
  padding: 10px 0;
}

.nav_link_mobile li a {
  font-family: var(--font-body);
  font-weight: var(--bold);
  color: var(--grey-medium);
  font-size: var(--text-sm);
  text-transform: uppercase;
}

.nav_link_mobile a:hover {
  font-family: var(--font-body);
  font-weight: var(--medium);
  color: var(--white);
}

/********** tablets **********/
@media (min-width: 768px) {
  .container_header {
    padding: 20px 0;
  }
}
